
body {
    font-size: 15px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #444444;
}


/* Links */

a {
    color: #F2A679;
    text-decoration: none;
}

a:hover {
    color: #e76416;
}


/* Buttons */
button, a.button {
    display: inline-block;
    min-width: 15rem;
    text-align: center;
    background-color: #F2A679;
    color: #444;
    border-radius: 9999px;
    line-height: 4rem;
    border: 0;
    font-size: 1rem;
}


/* Headings */

h1, h2, h3, h4 {
    line-height: 1;
    color: #3F6973;
    font-weight: 700;
}

h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.33rem;
    margin-bottom: 1rem;
}

/* Container */

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}


/* Header */


.header-wrapper {
    background-color: #3F6973;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    font-weight: bold;
    line-height: 6rem;
}

#nav-toggle {
    display: block;
    position: absolute;
    font-size: 2rem;
    line-height: 6rem;
    top: 0;
    right: 0;
    padding: 0 2rem;
}


/* About section */

.about-wrapper {
    background-color: #49A695;
    margin-top: 6rem;
}

#about {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}

.avatar {
    margin-bottom: 3rem;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 9999px;
}

.description {
    color: white;
}

.description p {
    max-width: 420px;
    margin-bottom: 1rem;
}

.greeting, .name, .position, .divider {
    margin-bottom: 1rem;
}

.greeting {
    font-size: 1.33rem;
    color: #3F6973;
}

.name {
    font-size: 2rem;
    font-weight: 700;
}

.divider {
    width: 60px;
    height: 4px;
    border-radius: 9999px;
    background-color: #3F6973;
}

.position {
    font-size: 1.33rem;
    font-weight: 700;
    color: #F2CD88;
}